*.genesis-servers.com, genesis-servers.com {
	tls /certs/fullchain.pem /certs/privkey.pem
}

growi.genesis-servers.com {
	reverse_proxy growi:3000
}

mm.genesis-servers.com {
	reverse_proxy mattermost:8065
}

kc.genesis-servers.com {
	reverse_proxy keycloak:8080
}

gt.genesis-servers.com {
	reverse_proxy gitea:3000
}

wazuh.genesis-servers.com {
	reverse_proxy https://wazuh.dashboard:5601
}
