*.phiongroup.com, phiongroup.com {
	tls /certs/fullchain.pem /certs/privkey.pem
}

growi.phiongroup.com {
	reverse_proxy growi:3000
}

mm.phiongroup.com {
	reverse_proxy mattermost:8065
}

kc.phiongroup.com {
	reverse_proxy keycloak:8080
}

gt.phiongroup.com {
	reverse_proxy gitea:3000
}
