
*.internship.local, internship.local {
	tls /certs/internship.local+1.pem /certs/internship.local+1-key.pem
}

http://growi.internship.local {
	reverse_proxy growi:3000
}

mm.internship.local {
	tls /certs/mattermost.crt /certs/mattermost.key
	reverse_proxy mattermost:8065
}

kc.internship.local {
	reverse_proxy keycloak:8080
}

gt.internship.local {
	reverse_proxy gitea:3000
}

http://test.internship.local {
	route {
		authenticate with myportal
	}
}
