mm.internship.local {
	reverse_proxy mattermost:8065

	tls /certs/cert.pem /certs/key-no-password.pem
}

http://internship.local {
	reverse_proxy growi:3000
}

http://shuffle.internship.local {
	reverse_proxy shuffle-frontend:80
}
